body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
     justify-content: center;
      align-items: center;



}
.button {
  background-color: #8b5b13 ;
  color: #090909;
  border-radius: 15px;
}
p{
  color: white;
}

.button ,p,a {
  color: black;
}

.navbar {
            background-color: #070707; /* Initial black color */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
        }
.navigation {
  justify-content: space-between;

              margin-right: auto;
}
.navbar img {
    margin-left: auto; /* Move the image to the right */
  }



        .navigation a  {
            color: #8b5b13;
          text-decoration: none;
          margin: 0 20px;
        }

        .navigation a:hover {
            color:white; /* Set text color for the links on hover */
        }


@keyframes flashColors {
  0%, 100% {
    color: white; /* Green color */
  }
  50% {
    color:#8b5b13 ; /* Red color */
  }
}


h1{
  text-align: center;
  color: #8b5b13;
  animation: flashColors 1.5s infinite;
}
h2{
  text-align: center;
  color: #8b5b13;
  text-decoration: underline ;
}

    .container {
      display: flex;
      height: 100vh;
      background-color: black;
    }

    .half {
      flex: 1;
    }


    .image-half {
      background: url('static/img/lupita.png') center/cover no-repeat; /* Replace 'your-image.jpg' with your image file */
    }

    .border{
      border-radius: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      height: 100vh;
      border: 2px solid #8b5b13;
    }
   .education  {
      background-color: black;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 20px;
      padding: 30px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
     color: white;
     height: 100vh;
    }

    .divider {
      position: absolute;
      left: 50%;
      top: 95px;
      bottom: 95px;
      width: 2px;
      background-color: #8b5b13;
      transform: translateX(-50%);
    }

    .section-half {
      width: 48%; /* Adjust the width as needed */
    }



    p {
      line-height: 1.6;
    }

    .highlight {
      font-weight: bold;
      color: #8b5b13;
    }

    .career-list {
      list-style: none;
      padding: 0;
    }

    .career-list li::before {
      content: "\2022"; /* Use a bullet point as a list item marker */
      color: #8b5b13;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

.awards {
      position: relative;
      overflow: hidden;
      margin: 20px;
    }



    .cut-content {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }

    .content-box {
      width: 48%; /* Adjust the width as needed */
      background-color:black;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 20px;
      box-sizing: border-box;
    }
     .contributions  {
      background-color: black;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 20px;
      padding: 30px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
     color: white;
     height: 100vh;
    }
.divide{
       position: absolute;
      left: 50%;
      top: 100px;
      bottom: 100px;
      width: 2px;
      background-color: #8b5b13;
      transform: translateX(-50%);
}
    footer {


      text-align: center;
      padding: 50px;
      bottom: 0;
      width: 100%;
    }

    .social-icons {
      margin-top: 10px;
    }

    .social-icons a {
      display: inline-block;
      margin: 0 10px;
      text-decoration: none;
      color: #fff;
      font-size: 18px;
    }
     form {
      background-color: transparent;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 400px;
       justify-content: center;
       text-align: center;
         border: 1px solid #ffffff;
       height: 80vh;
 margin:  auto;

    }

    label {
      color: #ffffff;
      display: block;
      margin-bottom: 8px;
    }

    input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 12px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
     background-color: #ffffff;
    }

    button {
      background-color: #ffffff;
      color: #100f0f;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
